<!DOCTYPE html>
<html>
<head>
    <title><%= @title.content %></title>
    <meta http-equiv="Content-Type" Content="application/vnd.ms-word; charset=UTF-8">
    <style type="text/css">

    .tableBorder, .grid
    {
        background-color: #fff;
        width: 100%;
        border-collapse: collapse;
    }

    .tableBorder td, .grid td
    {
        vertical-align: top;
        padding: 2px;
        border: 1px solid #ccc;
    }

    .noPadding
    {
        padding: 0 !important;
    }

    h3 .subText
    {
        font-size: 60%;
        font-weight: normal;
    }

    .tabLabel
    {
        font-weight: bold;
        border: 1px solid #ccc;
        border-bottom:none;
        padding: 2px;
        display: inline;
    }

    td.blank
    {
        padding: 0;
        margin: 0;
    }

    .blank td
    {
        border: none;
    }

    #descriptionArea
    {
        margin: 0;
        padding: 2px;
        border: 1px solid #ccc;
    }

    hr
    {
        border-top:1px solid #aaa;
    }

    hr.fullcontent
    {
      height: 15px;
      padding: 10px 0;
      background: #fff url('images/icons/hr.gif') no-repeat scroll center;
  }

</style>

</head>
<body>

    <table class="tableBorder" cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td bgcolor="#f0f0f0" width="100%" colspan="2" valign="top">
                <h3 class="formtitle">
                    <a href="<%= @link.content %>"><%= @title.content %></a>
                    <span class="subText">
                     <% if @created %>Created: <%= @created.content %><% end %>                   &nbsp;Updated: <%= @updated.content %><% if @resolved %>

                     &nbsp;Resolved: <%= @resolved.content %><% end %>
                 </span>
             </h3>
         </td>
     </tr>
     <tr>
        <td width="20%"><b>Status:</b></td>
        <td width="80%"><%= @status.content %></td>
    </tr>
    <tr>
        <td width="20%"><b>Project:</b></td>
        <td width="80%"><%= @project.content %></td>
    </tr>

    <tr>
        <td><b>Component/s:</b></td>
        <td>
            <%= @component.content %>                        </td>
        </tr>


        <tr>
            <td><b>Affects Version/s:</b></td>
            <td>
                <%= @affect_versions.content %>
            </td>
        </tr>


        <tr>
            <td><b>Fix Version/s:</b></td>
            <td>
                <%= @fix_versions.content %>
            </td>
        </tr>

    </table>

    <br />
    <table class="grid" cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td bgcolor="#f0f0f0" valign="top" width="20%">
                <b>Type:</b>
            </td>
            <td bgcolor="#ffffff" valign="top"  width="30%" >
                <%= @type.content %>
            </td>

            <td bgcolor="#f0f0f0">
                <b>Priority:</b>
            </td>
            <td bgcolor="#ffffff" valign="top" nowrap>
                <%= @priority.content %>
            </td>
        </tr>
        <tr>
            <td bgcolor="#f0f0f0" valign="top" width="20%">
                <b>Reporter:</b>
            </td>
            <td bgcolor="#ffffff" valign="top"  width="30%" >
                <%= @reporter.content %>
            </td>

            <td bgcolor="#f0f0f0" width="20%">
                <b>Assignee:</b>
            </td>
            <td bgcolor="#ffffff" valign="top" nowrap  width="30%" >
                <%= @assignee.content %>
            </td>
        </tr>
        <tr>
          <td bgcolor="#f0f0f0" width="20%">
             <b>Resolution:</b>
         </td>
         <td bgcolor="#ffffff" valign="top" width="30%" nowrap>
            <%= @resolution.content %>
        </td>
        <td bgcolor="#f0f0f0" width="20%">
            <b>Votes:</b>
        </td>
        <td bgcolor="#ffffff" valign="top" width="30%" nowrap>
            <%= @votes.content %>
        </td>

    </tr>

    <tr>
        <td bgcolor="#f0f0f0" width="20%">
            <b>Labels:</b>
        </td>
        <td id="labels-11585-value" class="value" bgcolor="#ffffff" valign="top" colspan="3" nowrap>
            <%= @labels.content %>
        </td>
    </tr>
    
    <tr>
        <td bgcolor="#f0f0f0" width="20%"><b>Remaining Estimate:</b></td>
        <td bgcolor="#ffffff" valign="top" nowrap width="80%" colspan="3">
            Not Specified
        </td>
    </tr>
    <tr>
        <td bgcolor="#f0f0f0" width="20%"><b>Time Spent:</b></td>
        <td bgcolor="#ffffff" valign="top" nowrap width="80%" colspan="3">
            Not Specified
        </td>
    </tr>
    <tr>
        <td bgcolor="#f0f0f0" width="20%"><b>Original Estimate:</b></td>
        <td bgcolor="#ffffff" valign="top" nowrap width="80%" colspan="3">
            Not Specified
        </td>
    </tr>
    
</table>



<br />

<table class="grid" cellpadding="0" cellspacing="0" border="0" width="100%">


    <% if @attachments %><tr>
        <td bgcolor="#f0f0f0" width=20% valign=top>
            <b>Attachments:</b>
        </td>
        <td bgcolor="#ffffff" valign="top">
            <% @attachments.xpath('attachment').each do |item| %><img src="images/icons/attach/image.gif" height="16" width="16" border="0" alt="PNG File"><%= item.attr('name') %> &nbsp;&nbsp;&nbsp;<% end %>
        </td>
    </tr><% end %>

    <tr>
        <td bgcolor="#f0f0f0" width="20%" valign="top">
            <b>Issue Links:</b>
        </td>
        <td bgcolor="#ffffff" valign="top" class="noPadding">
            <table cellpadding="0" cellspacing="0" border="0" width="100%" class="blank">
                <tr>
                    <td colspan="4" bgcolor="#f0f0f0">
                        <b>Relates</b><br/>
                    </td>
                </tr>
                <% @issuelinks.xpath('//issuekey').each do |issue| %><tr>
                    <td>
                        relates to
                    </td>
                    <td>
                        <%= issue.content %>
                    </td>
                    <td>
                        Closed
                    </td>
                </tr><% end %>
            </table>
        </td>
    </tr>
    



</table>

<br/>

<% if @description %><table cellpadding="2" cellspacing="0" border="0" width="100%" align="center">
    <tr>
        <td bgcolor="#bbbbbb" width="1%" nowrap align="center">
            &nbsp;<font color="#ffffff"><b>Description</b></font>&nbsp;
        </td>
        <td>&nbsp;</td>
    </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td id="descriptionArea">
            <p><%= @description.content %></p>
            <br/>
        </td>
    </tr>
</table><% end %>

<br/>

<% if @comments %><table cellpadding="2" cellspacing="0" border="0" width="100%" align="center">
    <tr>
        <td bgcolor="#bbbbbb" width="1%" nowrap align="center">
            &nbsp;<font color="#ffffff"><b>Comments</b></font>&nbsp;
        </td>
        <td>&nbsp;</td>
    </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" width="100%" class="grid" style="margin: 0;">
    <% @comments.xpath('comment').each do |comment| %><tr id="comment-header-13135"><td bgcolor="#f0f0f0">
        Comment by  
        <%= comment.attr('author') %>
        <font size="-2">
            [
            <font color="#336699"><%= comment.attr('created') %></font>

            ]
        </font>

    </td></tr>
    <tr id="comment-body-13135"><td bgcolor="#ffffff">
        <%= comment.content %>
    </td></tr><% end %>
</table>
<% end %>
</body>
</html>
